<html>
  <title>Message</title>
</html>
<body>
  <header><%- include('navbar', { links }) %></header>
  <div>
    <p><%= msg.name %></p>
    <p><%= msg.message %></p>
    <p><%= msg.date %></p>
  </div>
</body>
