<html>
  <title>Message</title>
</html>
<body>
  <header><%- include('navbar', { links }) %></header>
  <div>
    <p><%= msg.text %></p>
    <p><%= msg.user %></p>
    <p><%= msg.added %></p>
  </div>
</body>
